menu "Display Application"
    
    choice DISPLAY_SIDE
        prompt "Select the side on which the display is mounted"

        config RIGHT_SIDE_DISPLAY
            bool "Right Display Board"
            
        config LEFT_SIDE_DISPLAY
            bool "Left Display Board"
                
        
    endchoice

    config DATA_REFRESH_INTERVAL
        int "Milliseconds between refreshes of LVGL objects based on CAN data"
        default 25 
        range 5 100

    config OTA_BLOCK_SIZE
        int "0-255. block transmissions to prevent buffer overrun"
        default 255
        range 0 255

    config OTA_SEPARATION_TIME_MS
        int "0-255 ms separation time between CAN frames."
        default 1
        range 0 255
endmenu