menu "Display Application"
    

    config ENABLE_RUNTIME_STATS_OUTPUT
        bool "Enable runtime stats serial output"
        default false
        select FREERTOS_USE_TRACE_FACILITY
        select FREERTOS_USE_STATS_FORMATTING_FUNCTIONS
        select FREERTOS_VTASKLIST_INCLUDE_COREID
        select FREERTOS_GENERATE_RUN_TIME_STATS
        select FREERTOS_RUN_TIME_STATS_USING_ESP_TIMER
        help
            Enabling this will automatically configure FreeRTOS to support 
            vTaskList and vTaskGetRunTimeStats with Core ID inclusion.


    choice DISPLAY_SIDE
        prompt "Select the side on which the display is mounted"

        config RIGHT_SIDE_DISPLAY
            bool "Right Display Board"
            
        config LEFT_SIDE_DISPLAY
            bool "Left Display Board"
                
        
    endchoice

    config DATA_REFRESH_INTERVAL
        int "Milliseconds between refreshes of LVGL objects based on CAN data"
        default 25 
        range 5 100

    config OTA_BLOCK_SIZE
        int "0-255. block transmissions to prevent buffer overrun"
        default 255
        range 0 255

    config OTA_SEPARATION_TIME_MS
        int "0-255 ms separation time between CAN frames."
        default 1
        range 0 255

    config SLOW_BLINK_INTERVAL_MS
        int "Milliseconds for slow blink interval"
        default 300
        range 300 1000
    
    config FAST_BLINK_INTERVAL_MS
        int "Milliseconds for fast blink interval"
        default 100
        range 100 300
endmenu