# Wi-Fi Credentials
wifi_ssid: "Your_WiFi_SSID"
wifi_password: "Your_WiFi_Password"

# Fallback AP Credentials
ap_password: "emulator_setup_pass"

api_encryption_key: "MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE="

# OTA Updates
ota_password: "emulator_ota_pass"


