menu "Interface board configuration"

    menu "Runtime stats"
        config ENABLE_RUNTIME_STATS_OUTPUT
            bool "Enable runtime stats serial output"
            default false
            select FREERTOS_USE_TRACE_FACILITY
            select FREERTOS_USE_STATS_FORMATTING_FUNCTIONS
            select FREERTOS_VTASKLIST_INCLUDE_COREID
            select FREERTOS_GENERATE_RUN_TIME_STATS
            select FREERTOS_RUN_TIME_STATS_USING_ESP_TIMER
            help
                Enabling this will automatically configure FreeRTOS to support 
                vTaskList and vTaskGetRunTimeStats with Core ID inclusion.
    endmenu
    
    menu "Interrupt GPIOs"
        config BUTTON_IRQ_GPIO
            int "BUTTON interrupt GPIO"
            default 10
        config FULL_BEAMS_IRQ_GPIO
            int "Full/Hi beams interrupt GPIO"
            default 11
            
    endmenu

    menu "5V Control"
        config 5V_EN_GPIO
            int "5V enable GPIO"
            default 48
        config 5V_AUX_EN_GPIO
            int "5V Auxiliary enable GPIO"
            default 47
    endmenu
    
    menu "I²C configuration"
        config SDA_PIN
            int "SDA GPIO for I2C"
            default 3

        config SCL_PIN
            int "SCL GPIO for I2C"
            default 9

    endmenu

    menu "ADC and SMA configuration"
                
        config PRIMARY_ADC_ADDR
            hex "Hex address for primary ADC chip"
            default 0x48
            help
                Sets the default address for the ADC. 
                0x48 for a ADS1115 without address bits set.
        
        config SET_HIGH_CAL_GPIO
            int "GPIO to set high caliber sense resistor for channel A"
            default 15

        config FUEL_LEVEL_SENSE_ADC_CHANNEL
            int "ADC channel for the fuel level sensing"
            default 0
        
        config BATTERY_VOLT_SENSE_ADC_CHANNEL
            int "ADC channel for the battery voltage sensing"
            default 1

        # choice ADC_DATA_RATE
        #     prompt "Choose target conversion data rate"
        #     config ADS111X_DATA_RATE_8
        #         bool "ADS111X_DATA_RATE_8"
        #     config ADS111X_DATA_RATE_16
        #         bool "ADS111X_DATA_RATE_16"
        #     config ADS111X_DATA_RATE_128
        #         bool "ADS111X_DATA_RATE_128"
        # endchoice
        
        config ADC_TO_SMA_POLLING_RATE_MS
            int "Polling interval to add an element to the SMA"
            default 200
            help
                Keep it relative to the SMA size to increase filtering and lag or not.

        config SMA_0_SIZE
            int "Size of SMA filter for ADC 0"
            default 100
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.
            
        config SMA_1_SIZE
            int "Size of SMA filter for ADC 1"
            default 10
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.

        config SMA_2_SIZE
            int "Size of SMA filter for ADC 2"
            default 10
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.

        config SMA_3_SIZE
            int "Size of SMA filter for ADC 3"
            default 10
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.
    endmenu

    menu "Debug messages"
        config ENABLE_DEBUG_MSG
            bool "Enable debug messages"
            default false
            help
                Enables debug message output. When disabled, all debug message types are also disabled.

        config DBG_SPEED_MSG
            bool "Enable speed debug messages"
            depends on ENABLE_DEBUG_MSG
            default false
            help
                Enables debug output for speed-related messages.

        config DBG_RPM_MSG
            bool "Enable RPM debug messages"
            depends on ENABLE_DEBUG_MSG
            default false
            help
                Enables debug output for RPM-related messages.

        config DBG_COOL_MSG
            bool "Enable coolant debug messages"
            depends on ENABLE_DEBUG_MSG
            default false
            help
                Enables debug output for coolant-related messages.

        config DBG_ADC_MSG
            bool "Enable ADC debug messages"
            depends on ENABLE_DEBUG_MSG
            default false
            help
                Enables debug output for ADC-related messages.
    endmenu

    menu "IO Expander configuration"

        config EXP_INT_PIN
            int "Interrupt pin for primary expander"
            default 7
            help
                Interrupt pin for the primary expander. Might be reversed logic!

        config USE_EXPANDER_INTERRUPT
            bool "Whether or not to use the expander interrupt to be more reactive"
            default true
            help
                This might create core panics. Use wisely.

        config INTERRUPT_DEBOUNCE_US
            depends on USE_EXPANDER_INTERRUPT
            int "Debounce time for expander interrupt, in microseconds"
            default 2000

        config PRIMARY_IO_EXPANDER_ADDRESS
            hex "Default hex address for primary IO Expander"
            default 0x20
            help
                Sets the default address value for the primary GPIO expander. 
                0x20 for a TCA9555 with A0->A2 = 0.

    endmenu

    menu "MCPWM configuration"
        config PWM_DETECT_TIMEOUT
            int "Timeout in ms for which 0Hz and 0% will be declared for a PWM signal"
            default 1000

        config LOOP_LOG_MCPWM
            bool "Read MCPWM values in main loop."
            default false

        config COOLANT_PWM_CAP_GPIO
            int "GPIO for the capture of the coolant PWM"
            default 6

        config RPM_PWM_CAP_GPIO
            int "GPIO for the capture of the RPM pulses"
            default 4

        config SPEED_PWM_CAP_GPIO
            int "GPIO for the capture of the speed PWM"
            default 5 
        config MCPWM_CAP_TIMER_RESOLUTION
            int "Resolution in Hz applied to the capture timer"
            default 100000
    endmenu

    menu "Display control"
        menu "Left Display"
            config LD_GP0_IO
                int "Display boot GPIO"
                default 21
            
            config LD_ALIVE_IO
                int "Display alive signal GPIO"
                default 12 
            
            config LD_TXD_IO
                int "Display TXD GPIO"
                default 13
            
            config LD_RXD_IO
                int "Display RXD GPIO"
                default 14
            

        endmenu
        menu "Right Display"
            config RD_GP0_IO
                int "Display boot GPIO"
                default 40
            
            config RD_ALIVE_IO
                int "Display alive signal GPIO"
                default 2 
            
            config RD_TXD_IO
                int "Display TXD GPIO"
                default 42
            
            config RD_RXD_IO
                int "Display RXD GPIO"
                default 41
            
                
        endmenu
        
    endmenu

endmenu